@media screen and (max-width: 400px) {
    nav .container{
        display: flex;
        width: 100%;
        align-items: center;
    }
    nav .container .left h1{
        font-size: 20px;
    }
    .section .container{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .section .container h2{
        font-size: 28px;
        text-align: center;
    }
    .home{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home a{
        animation-delay: .3s;
        font-size: 25px;
    }
    .items .item{
        width: 100px;
        height: 70px;
        margin-top: 30px;
    }
    .items .item img{
        width: 100%;
        animation-delay: .5s;
    }
}